POSTGRES_HOSTNAME=database
POSTGRES_SSL=disable
POSTGRES_USER=superindo
POSTGRES_PASSWORD=superindo
POSTGRES_PORT=5432
POSTGRES_DB=superindo
MIGRATION_FOLDER=./db/migration
HTTP_PORT=:8080
REDIS_ADDRESS=redis:6379
